.App {
  text-align: center;
}

.body {
  font-family: 'Roboto';
}

 .bold {
  font-weight: 700;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  z-index: 5;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 0.5;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

color: #000000;
}

.text-white {
  color: #FFFFFF;
}

.container {
  width: 100%;
}

.main-page-container {
  height: 985px;
  position: relative;
}

.img-nain-page-header {
   width: 100%;
  object-fit: cover;
  height: 985px;
}

.navbar {
  width: 100%;
  height: 94px;
  background-color: #292929;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
}

.navbar-collapse {
  color: #FFFFFF;
  padding: 0 258px 0 258px;
}

a {
  text-decoration: none;
}

.menu-item {
  color: inherit;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 94px;
  margin-right: 82px;
}

.menu-item-active {
  color:  #ada8a8;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 94px;
  margin-right: 82px;
}

.search-train-form {
  position: absolute;
  width: 729px;
  height: 574px;
  top: 411px;
  left: 958px;
  background: rgba(41, 41, 41, 0.8);
  padding: 22px;
  box-sizing: border-box;
  padding-top: 72px;
}

.search-form-input {
  width: 317px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 3px;
  font-size: 20px;
}

.search-form-input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 685px;
}

.search-form-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  display: inline;
}


.point-of-departure-menu, .destination-menu {
  display: none;
}

.point-of-departure-menu-active, .destination-menu-active {
  display: block;
  position: absolute;
  top: 72px;
  z-index: 10;
  width: 326px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.point-of-departure-menu-active {
  left: 0;
}

.destination-menu-active {
  right: 0;
}

.point-of-departure-menu-text, .destination-menu-text {
  padding: 10px;
}

.search-form-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.search-form-button {
  width: 325px;
  height: 66px;
  margin-top: 65px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
  background: #FFA800;
  border-radius: 5px;
  z-index: 2;
}

.main-page-header-title{
  position: absolute;
  width: 506px;
  height: 170px;
  left: 348px;
  top: 573px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}

.main-page-header-title .thin {
  font-weight: 100;
}

.main-page-header-title .thick {
  font-weight: 700;
}


/* AboutUs */

.about-us-container, .reviews-container{
  padding: 125px 258px 125px 258px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.about-us-title {
  width: 320px;
}

.about-us-content {
  font-size: 24px;
  width: 1320px;
  padding: 0 260px 0 20px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  box-sizing: border-box;
}

.about-us-content::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 231px;
  background-color: #FFA800;
  left: -10px;
}

 /* HowItsWorks */

 .how-its-works-container {
  width: 100%;
  height: 575px;
  position: relative;
  background: url(./img/359fa1466fc2860526cab5ac824d0ba5.png);
  background-size: cover;
 }

 .how-its-works-container::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #FFA800;
  z-index: 2;
  opacity: 30%;
 }

 .how-its-works-description {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 60px;
  padding: 0 252px 0 252px;
 }

 .how-its-works-container__learn-more {
  width: 325px;
  height: 60px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  z-index: 5;
  line-height: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
 }

 .how-its-works-pictures-container {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 90px;
  padding: 0 513px 0 513px;
  z-index: 10;
 }

.how-its-works-pictures-item {
  width: 226px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.how-its-works-picture-text {
  text-align: center;
  margin-top: 42px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
}

/* Reviews */

.reviews-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews-content-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 630px;
}

.reviews-content-img {
  width: 206px;
  height: 206px;
  border-radius: 50%;
  background-position: center;
}

.img-1 {
  background-image: url(../src/img/2fec5f0f798b8787930c80dd5d6472af.png);
  background-size: 150%;
}

.img-2 {
  background-image: url(../src/img/adb42ec0d354460adb5d422bc34dc958.png);
  background-size: 250%;
}

.reviews-content-text {
  width: 410px;
  margin-left: 35px;
}

.reviews-content-text span {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  color: #928F94;
  position: relative;
}

.reviews-content-text span::before, .reviews-content-text span::after {
  content: "“";
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.reviews-content-text span::before {
  left: -20px;
  top: -10px;
}

.reviews-content-text span::after {
  right: -20px;
  bottom: -20px;
}

.reviews-slider-container {
margin-top: 134px;
}

.reviews-slider {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.reviews-slider-item {
  width: 19px;
  height: 19px;
  background-color: #E5E5E5;
  border-radius: 50%;
}

/* Footer */

.footer-container {
  height: 520px;
  background-color: #2D2B2F;
  font-family: 'Roboto';
  font-style: normal;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.footer-block {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-block span {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #E5E5E5;
}

.footer-block-item {
  position: relative;
  margin-top: 30px;
  width: 210px;
  padding-left: 60px;
}

.contacts svg {
  position: absolute;
  left: 0;
}

.footer-block-subscription {
  height: 60px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-block-subscription input{
  height: 60px;
  width: 447px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 15px;
}

.footer-block-subscription button{
  height: 60px;
  width: 170px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: #2D2B2F;
  color: #E5E5E5;
}

.footer-block-subscription-links {
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-footer {
  margin-top: 60px;
  height: 95px;
  border-top: 1px solid #E5E5E5;
  color: #E5E5E5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-footer-item {
  width: 150px;
}

/* TrainSelectionPageHeader */

.train-selection-page-container {
height: 596px;
position: relative;
background-image: url("../src/img/455f149d5f9743f2b028fa407e8d4464.png");
background-repeat: no-repeat;
background-size: cover;
}

.train-selection-page-container .search-form-button {
  margin-right: 45px;
  margin-top: 10px;
}

.img-train-selection-header {
  width: 100%;
  height: 596px;
  object-fit: none;
}

.navbar {
  z-index: 3;
}

.train-selection-search-form {
  position: relative;
  margin: auto;
  width: 1490px;
  display: flex;
  flex-direction: column;
  top: 270px;
  height: 350px;
  
}

.train-selection-search-form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 44px 25px 44px;
  height: 300px;
}

.train-selection-search-form-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 45px 0 45px;
  z-index: 2;
  box-sizing: border-box;
  height: 150px;;
  margin-bottom: 35px;
}

.train-selection-search-form-inputs .search-form-container {
  height: 120px;
}

.train-selection-search-form::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2D2B2F;
  opacity: 69%;
  position: absolute;
}

.train-selection-search-form-item {
  position: relative;
  width: 45%;
  z-index: 2;
}

.train-selection-search-form-button {
width: 100%;
height: 107px;
z-index: 2;
}

.train-selection-search-form-button .search-form-button {
  margin-top: 45px;
}

.triangle-orange {
  border: 50px solid transparent;
  border-left: 50px solid #FFA800;
  position: absolute;
  right: -100px;
}

.order-steps-container {
  width: 100%;
  position: absolute;
  bottom: -100px;
  height: 100px;
  background-color: #2D2B2F;
  display: flex;
  flex-direction: row;
}

.order-steps-item {
  position: relative;
}

.step-orange {
  background-color: #FFA800;
}

.step-1, .step-4{
  width: 30%;
}

.step-2, .step-3{
  width: 20%;
}

.order-step {
  height: 100px;
}

.train-selection-page-content {
  font-family: 'Roboto';
  width: 100%;
  margin-top: 300px;
  padding: 0 260px 0 260px;
  box-sizing: border-box;
}

.train-selection-sidebar-container {
  display: block;
  width: 360px;
  background-color: #3E3C41;
}

.train-selection-sidebar-settings {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.train-selection-sidebar-item {
  width: 100%;
  padding: 0 35px 33px 30px;
  border-bottom: 1px solid #E5E5E5;
  box-sizing: border-box;
}

.train-selection-sidebar-item h3 {
  line-height: 0.5;
}

.train-selection-sidebar {
  font-weight: 400;
}

.train-selection-sidebar-date-form-input {
  box-sizing: border-box;
  width: 295px;
  height: 45px;
  border: 1px solid white;
  border-radius: 3px;
}

.train-selection-sidebar-railway-carriage {
  padding: 30px 35px 30px 70px;
}

.train-selection-sidebar-railway-carriage-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 36px;
}

.train-selection-sidebar-railway-carriage-item:last-child {
  margin-bottom: 0;
}

.train-selection-sidebar-railway-carriage-item svg{
  margin-right: 35px;
}

.train-selection-sidebar-price-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.train-selection-sidebar-direction-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.train-selection-sidebar-direction-item svg {
  position: absolute;
  left: 0;
}

.train-selection-sidebar-direction-item h3 {
  margin-left:50px;
  font-weight: 700;
}

.train-selection-page-main .sortingElements-container {
  position: relative;
}

.train-selection-page-main .sortingElements {
  display: none;
  position: absolute;
}

.train-selection-page-main .sortingElements:hover {
  display: block;
  top: 0;
  left: 0;
}